@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #20232a; }
  .navbar .bwm-search {
    height: 50px;
    width: 300px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #61dafb !important;
    font-weight: 500; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-bwm-search {
    border-color: #61dafb;
    color: #61dafb; }
    .navbar .btn-bwm-search:hover, .navbar .btn-bwm-search:focus, .navbar .btn-bwm-search:active {
      background-color: transparent !important;
      border-color: #61dafb !important;
      color: #61dafb !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #ededed; }

.logout {
  cursor: pointer; }

#rentalListing {
  /* SINGLE CARD STYLES*/ }
  #rentalListing .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  #rentalListing .rental-detail-link:hover {
    text-decoration: none; }
  #rentalListing .bwm-card {
    border: none; }
    #rentalListing .bwm-card .card-block {
      padding-top: 8px; }
      #rentalListing .bwm-card .card-block .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #16861a; }
      #rentalListing .bwm-card .card-block .card-title {
        font-size: 19px;
        margin: 3px 0;
        color: #484848; }
      #rentalListing .bwm-card .card-block .card-text {
        font-size: 14px;
        font-weight: 300;
        color: #7e7e7e;
        margin-bottom: 0; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-container {
  justify-content: center !important; }

#rentalDetails .upper-section {
  margin-bottom: 30px; }
  #rentalDetails .upper-section img {
    width: 100%; }

#rentalDetails .details-section {
  color: #484848; }
  #rentalDetails .details-section .rental-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0; }
  #rentalDetails .details-section .rental-title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700; }
  #rentalDetails .details-section .rental-city {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px; }
  #rentalDetails .details-section .rental-room-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px; }
    #rentalDetails .details-section .rental-room-info span {
      margin-right: 10px; }
    #rentalDetails .details-section .rental-room-info i {
      margin-right: 2px; }
  #rentalDetails .details-section .rental-description {
    font-weight: 300;
    margin-bottom: 30px; }
  #rentalDetails .details-section .rental-assets .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px; }
  #rentalDetails .details-section .rental-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300; }

.bwm-form {
  color: #484848; }
  .bwm-form h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  .bwm-form .image-container {
    position: relative; }
    .bwm-form .image-container img {
      width: 100%;
      border-radius: 5px; }
  .bwm-form label {
    font-size: 12px; }
  .bwm-form .form-text {
    font-size: 13px; }
  .bwm-form .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px; }
  .bwm-form .btn-form {
    margin-top: 20px; }

.bwm-res-errors {
  margin: 10px 0; }
  .bwm-res-errors p {
    margin-bottom: 5px; }

.booking {
  padding: 20px;
  border: 1px solid #dedada; }
  .booking .btn-confirm {
    font-size: 17px;
    font-weight: 700;
    padding: 13px; }
  .booking label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0; }
  .booking-price {
    font-size: 22px;
    font-weight: 700; }
  .booking-per-night {
    font-size: 13px;
    font-weight: 300; }
  .booking-note-title {
    font-size: 14px;
    margin-bottom: 10px; }
  .booking-note-text {
    font-size: 13px;
    font-weight: 300; }
  .booking .should-login-btn-container {
    text-align: center;
    margin-bottom: 10px; }
    .booking .should-login-btn-container .btn-login {
      text-align: center;
      font-size: 15px;
      padding: 15px; }
      .booking .should-login-btn-container .btn-login:hover, .booking .should-login-btn-container .btn-login:focus {
        color: white;
        text-decoration: none; }

.booking-modal .title {
  font-weight: 700;
  font-size: 26px; }

.booking-modal .buttons {
  margin: 15px 0px; }

.booking-modal em {
  font-style: normal;
  font-size: 17px;
  font-weight: 700; }

.booking-modal p {
  margin: 0; }

.daterangepicker td.in-range {
  background-color: red #61dafb; }

.daterangepicker td.active {
  background-color: #61dafb !important; }

html,
body {
  display: table;
  width: 100%;
  height: 100%;
  background: white; }

#main-ctr {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

p {
  margin-top: 80px;
  margin-bottom: 15px;
  font-family: sans-serif;
  color: #999;
  font-size: 100;
  letter-spacing: 2px;
  line-height: 1.25;
  font-size: 16px; }

.buttons-ctr button {
  border: 1px solid black;
  padding: 10px 15px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 3px;
  color: black;
  text-transform: capitalize;
  font-family: "roboto";
  letter-spacing: 2px;
  font-size: 14px;
  transition: .3s all ease;
  pointer-events: auto; }
  .buttons-ctr button.active {
    background: #FFEB97;
    pointer-events: none; }
  .buttons-ctr button:focus {
    outline: none; }

.copyright {
  position: fixed, x 15px 15px x;
  font-family: "Roboto"; }
  .copyright span {
    line-height: 36px;
    color: #999;
    margin-right: 10px;
    font-weight: 300; }
    .copyright span a {
      font-weight: 400;
      text-decoration: none;
      color: #ea4c89; }
  .copyright .balapa {
    width: 30px;
    height: 30px;
    display: block;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/profile/profile-512_4.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.75);
    float: right; }

#wk-l-eye,
#wk-r-eye,
#sm-mouth-1,
#sm-mouth-2,
#sm-mouth-3,
#st-l-eye,
#st-r-eye,
#rg-l-eye,
#rg-r-eye,
#hg-l-eye,
#hg-r-eye,
#st-mouth,
#rg-mouth,
#hr-mouth {
  visibility: hidden; }

.nounderline {
  text-decoration: none !important; }
  .nounderline:hover {
    text-decoration: none !important; }

.page-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 40px; }

.apartment {
  color: #a72da3 !important; }

.house {
  color: #bf1818 !important; }

.condo {
  color: #d68000 !important; }

.btn-bwm {
  background-color: #61dafb;
  border-color: #61dafb;
  color: white;
  padding: 15px 30px;
  font-size: 20px; }
  .btn-bwm:hover, .btn-bwm:focus, .btn-bwma:active {
    border-color: #61dafb !important;
    background-color: #61dafb !important; }

button:hover {
  cursor: pointer; }
